
.card-container {
 background-color: #F38A29;
  width: 700px;

  margin-top: 3rem;
  border-radius:1rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  color:white;
 
}
.stripped {
  width: 200%;
  height: 100px;
  background-color: #54C0DD;
  transform: rotate(45deg);
  position: absolute;
  top: 46%;
  left: -50%;
z-index: 0;

}

.cards-contain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

