
.card-container {
 background-color: #F38A29;
  width: 700px;

  margin-top: 3rem;
  border-radius:1rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  color:white;
 
}
.stripped {
  width: 200%;
  height: 100px;
  background-color: #54C0DD;
  transform: rotate(45deg);
  top: 47%;
  z-index: -1;
 
  left: -50%;
  position: absolute;
}

.cards-contain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

